// default
@import "../../static/styles/normalize"
@import "../../static/styles/reset"

// app
@import './styles/varibales'

@font-face
  font-family: Rubik
  font-weight: 400
  font-style: normal
  font-display: swap
  // for support any browser
  src: url("../../static/fonts/regular/Rubik-Regular.eot?#iefix") format("embedded-opentype")
  src: url("../../static/fonts/regular/Rubik-Regular.eot") format("eot")
  src: url("../../static/fonts/regular/Rubik-Regular.otf") format("opentype")
  src: url("../../static/fonts/regular/Rubik-Regular.ttf") format("truetype")
  src: url("../../static/fonts/regular/Rubik-Regular.woff") format("woff")
  src: url("../../static/fonts/regular/Rubik-Regular.woff2") format("woff2")

@font-face
  font-family: Rubik
  font-weight: 400
  font-style: italic
  font-display: swap
  // for support any browser
  src: url("../../static/fonts/italic/Rubik-Italic.eot?#iefix") format("embedded-opentype")
  src: url("../../static/fonts/italic/Rubik-Italic.eot") format("eot")
  src: url("../../static/fonts/italic/Rubik-Italic.otf") format("opentype")
  src: url("../../static/fonts/italic/Rubik-Italic.ttf") format("truetype")
  src: url("../../static/fonts/italic/Rubik-Italic.woff") format("woff")
  src: url("../../static/fonts/italic/Rubik-Italic.woff2") format("woff2")

@font-face
  font-family: Rubik
  font-weight: 700
  font-style: normal
  font-display: swap
  // for support any browser
  src: url("../../static/fonts/bold/Rubik-Bold.eot?#iefix") format("embedded-opentype")
  src: url("../../static/fonts/bold/Rubik-Bold.eot") format("eot")
  src: url("../../static/fonts/bold/Rubik-Bold.otf") format("opentype")
  src: url("../../static/fonts/bold/Rubik-Bold.ttf") format("truetype")
  src: url("../../static/fonts/bold/Rubik-Bold.woff") format("woff")
  src: url("../../static/fonts/bold/Rubik-Bold.woff2") format("woff2")

html
  font-size: 10px
  font-family: Rubik, sans-serif

#root
  font-size: 1.4rem

.title
  color: $title
  font-size: 2.4rem
  font-weight: bold
  padding-bottom: 1rem

.sub-title
  color: $title
  font-size: 2.0rem

.link
  color: $link
  font-size: 1.4rem

.text
  font-size: 1.8rem
  color: $text
  padding-bottom: 1rem
  display: block

.form
  display: flex
  flex-direction: column

.input, .button
  margin-bottom: 1rem
  padding: 1rem
