@import './../../styles/varibales'

.footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1.4rem
  border-top: solid 1px $grey
  width: 100%

.footer__logo
  width: 5rem
  height: 5rem


